.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-wrapper {
    width: 340px;
    height: 400px;
    background-color: #2c2c2c;
    padding: 47px;
    padding-bottom: 57px;
    color: #fff;
    border-radius: 17px;
  padding-bottom: 50px;
  font-size: 1.3em;
  

}

.login-wrapper input[type="text"],
.login-wrapper input[type="password"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 18px;
    margin: 10px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background: #3c3c3c;
    color: #fff; 
}

.submit-btn {
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: #fff;
    padding: 13px !important;
    border-radius: 100px;
    border: none;
    width: 100%;
    margin-top: 25px;
   
  }

  .submit-btn:hover {
    background: linear-gradient(144deg, #1e1e1e , 20%,#1e1e1e 50%,#1e1e1e );
    color: rgb(255, 255, 255);
    padding: 16px !important;
    cursor: pointer;
    transition: all 0.4s ease;
  }